#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DH_VERBOSE=1

PLUGINS=$(shell python3 scripts/list_plugins.py)

define DH
	PYBUILD_NAME="orcha-$(1)" dh $(2) -D $(1) --with python3,systemd --buildsystem=pybuild
endef

clean/%:
	$(call DH,$*,clean)

build/%:
	$(call DH,$*,build)

binary/%:
	$(call DH,$*,binary)

override_dh_installinit:
	dh_installsystemd --name=orcha-wd@

override_dh_auto_test:
	python3 -m pylama --ignore E501,E203

%: $(addprefix %/,$(PLUGINS)) ;

export PYBUILD_DISABLE=test
